body{
  margin: auto;
  background: url('../resources/images/health_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
#PageHeading{
  color: #FAFAFA;
  font-size: 50px;
}
#health-col-1{
  background-color: #88a8ba;
  color: #212529;
  padding: 5px;
  margin: 5px;
  border-style: groove;
  border-width: 2px;
  border-color: #212529;
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#health-col-2{
  background-color: #88a8ba;
  color: #212529;
  padding: 5px;
  margin: 5px;
  border-style: groove;
  border-width: 2px;
  border-color: #212529;
  animation: fadein 2.5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#health-col-3{
  background-color: #88a8ba;
  color: #212529;
  padding: 5px;
  margin: 5px;
  border-style: groove;
  border-width: 2px;
  border-color: #212529;
  animation: fadein 3s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.card{
  background: #88a8ba;
}
.btn{
  color: #FAFAFA;
  text-decoration: none;
}
.btn-link{
  color: #FAFAFA;
  text-decoration: none;
}
.btn-link:hover{
  color: #fee195;
  text-decoration: none;
}
